<div class="content-wrapper">
<!-- <div class="content-wrapper" style="background-image:url({{login_bg}})"> -->

    <div class="login-form" style="padding-top:100px;padding-bottom:40px;">
        <div class="section-padding">
        	<div class="row">
        		<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        			<div class="white-bg">
        				<div class="row  m-0 red-bg">
        					<div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 p-0">
	        					<div class="section1">

	        						<p><i class="fa fa-suitcase pay-icon"></i>{{'category' | translate}}</p>
	        						<p class="right"><strong>{{video.category_name}}</strong></p>
	        						<p class="section1-line top"></p>

	        						<p><i class="fa fa-suitcase pay-icon"></i>{{'sub_category' | translate}}</p>
	        						<p class="right"><strong>{{video.sub_category_name}}</strong></p>
	        						<p class="section1-line top"></p>

	        						<p><i class="fa fa-file-o pay-icon"></i>{{'title' | translate}}</p>
	        						<p class="right"><strong>{{video.title}}</strong></p>
	        						<p class="section1-line"></p>

	        						<p><i class="fa fa-user pay-icon"></i> {{'user_type' | translate}}</p>
	        						<p class="right"><strong>
	        								<span ng-if="video.type_of_user == 1">
							              		{{'normal_users' | translate}}
							              	</span>
							              	<span ng-if="video.type_of_user == 2">
							              		{{'paid_users' | translate}}
							              	</span>
							              	<span ng-if="video.type_of_user == 3">
							              		{{'both_users' | translate}}
							              	</span>
	        						</strong></p>
	        						<p class="section1-line"></p>

	        						<p><i class="fa fa-hand-o-up pay-icon"></i> Subcription type</p>
	        						<p class="right"><strong>
	        							<span ng-if="video.type_of_subscription == 1">
							              		{{'one_time_payment' | translate}}
							              	</span>
							              	<span ng-if="video.type_of_subscription == 2">
							              		{{'recurring_payment' | translate}}
							              	</span>
							              	
	        						</strong></p>
	        						<p class="section1-line"></p>

	        						<p><i class="fa fa-usd pay-icon"></i> {{'amount' | translate}}</p>
	        						<p class="right"><strong>{{video.currency}}{{video.amount}}</strong></p>
	        					</div>
        					</div>

        					
        					<div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 p-0 whte-bg">
        						<div class="spacing payment-status payment-status1">
        							<h3 class="pay-head"><i class="fa fa-globe pay-icon1" ></i><span>{{'pay_per_view' | translate}}</span></h3>
        							<h3 class="table-title">{{'amount' | translate}}</h3>

        							<p style="color: #000" class="pay-para"  ng-if="video.type_of_user == 3"><small>{{'ppv_subscribe_notes' | translate}}</small></p>

        							<table class="table payment-tabel">
        								<tbody>
        									<tr>
        									<!-- <tr class="active"> -->
										        <td>{{'subtotal' | translate}}</td>
										        <td>{{video.currency}}{{video.amount}}</td>
										    </tr>
										   <!--  <tr>
										        <td>Tax</td>
										        <td>$0.00</td>
										    </tr> -->
										    <tr class="warning">
										    <!-- <tr class="active"> -->
										        <td>{{'total' | translate}}</td>
										        <td>{{video.currency}}{{video.amount}}</td>
										    </tr>
										</tbody>
									</table> 

									<h4 class="table-title">{{'have_a_coupon' | translate}}</h4>

									<table class="table">
        								<tbody>
        									<tr>
        									<!-- <tr class="active"> -->
										        <td style="width: 100px;vertical-align: middle;">{{'promo_code' | translate}}</td>
										        <td><input type="text" name="coupon_code" id="coupon_code" ng-model="coupon_code" class="form-control coupon-form"></td>
										        <td><button class="payment-submit" style="margin-top:0" ng-click="apply_coupon_ppv(coupon_code)">{{'apply' | translate}}</button></td>
										    </tr>
										     <tr class="showPay" style="display: none">
        									<!-- <tr class="active"> -->
										        <td>{{'coupon_amount' | translate}}</td>
										        <td></td>
										        <td>{{original_coupon_amount}}</td>
										    </tr>
										    <tr class="warning showPay" style="display: none">
        									<!-- <tr class="active"> -->
										        <td>{{'grant_total' | translate}}</td>
										        <td></td>
										        <td>{{video.currency}}{{remaining_amount}}</td>
										    </tr>
										</tbody>
									</table>

									<h3 class="no-margin top1 black-clr"><span><i class="fa fa-credit-card-alt icon"></i></span>{{'payment_options' | translate}}</h3>
			   							<div class="black-clr">
				   							<label>
											    <input type="radio" class="option-input radio" name="type_of_payment" checked value="1"/>
											    {{'paypal' | translate}}
											</label>
											<label>
											    <input type="radio" class="option-input radio" name="type_of_payment" value="0"/>
											   {{'card_payment' | translate}}
											</label>
										</div>
										<div class="clearfix"></div>
									<div class="text-right">
										<button class="payment-submit payment-tabel-btn" ng-click="sendToPaypal(video.admin_video_id)" id="payment_ppv_button"><i class="fa fa-cc-mastercard"></i> {{'pay' | translate}}</button>
									</div>
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
       	</div>
    </div>
    <div class="push"></div>
</div>