 <!-- <div class="main-content form-content bg-img" style="background-image:url({{login_bg}})"> -->
 <div class="main-content">
    	<nav class="navbar navbar-default form-navbar" role="navigation">
			<div class="banner-spacing">
				<div class="navbar-header form-header">
					<a class="navbar-brand" ui-sref="static.index">
						<img ng-src="{{site_logo}}" class="hidden-xs">
						<img src="{{site_icon}}" class="visible-xs">
					</a>
				</div>
			</div>
		</nav>


		<div class="content-panel">

			<!-- LOGIN FORM 
			===================================================-->
			<div class="login-form">
				<div class="">
					<div class="login-form-inner grey-bg">	
						<h3 class="login-tit">{{'forgot_password' | translate}}</h3>
						<form ng-submit="forgot()">

							<div class="form-group">
							    <label for="email">{{'email_address' | translate}}</label>
							    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="{{'email_address_placeholder' | translate}}" required ng-model="email">
							</div>
							
							<div class="text-right">
								<p class="form-txt">{{'already_have_account' | translate}} <a ui-sref="static.signin" >{{'login' | translate}}</a></p>
							</div>

							<div>
								<button type="submit" class="btn form-btn" id="forgot_password_button">{{'submit' | translate}}</button>
							</div>

							<div class="form-txt-block">
								<p class="form-txt">{{'forgot_password_notes' | translate}}</a></p>
							</div>
						</form>
					</div>					
				</div>
			</div>
			<!-- LOGIN FORM -->

		</div>
    </div>